<div class="container-fluid header">
  <div class="row headerDiv">
    <div class="col-8" style="color: white; margin-top: 0.7rem">
      <span>Zomato 🍕 </span>
    </div>
    <div class="col-4">
      <ul
        style="
          display: flex;
          justify-content: space-evenly;
          color: white;
          margin-top: 0.7rem;
          list-style: none;
        "
      >
        <li>login</li>
        <li>testy codeiz</li>
        <li>cart</li>
      </ul>
    </div>
  </div>
</div>
